/**
 * Tailwind CSS - Currently Using CDN
 * 
 * This file is prepared for future production build but currently unused.
 * The application uses the Tailwind CDN (see base.html <head>).
 * 
 * To migrate to compiled CSS in the future:
 * 
 * 1. Install Tailwind CLI:
 *    npm install -D tailwindcss
 * 
 * 2. Create tailwind.config.js:
 *    npx tailwindcss init
 * 
 * 3. Create src/static/css/input.css:
 *    @tailwind base;
 *    @tailwind components;
 *    @tailwind utilities;
 * 
 * 4. Build:
 *    npx tailwindcss -i src/static/css/input.css -o src/static/css/app.css --minify
 * 
 * 5. Update base.html to use:
 *    <link rel="stylesheet" href="/static/css/app.css">
 *    (instead of <script src="https://cdn.tailwindcss.com"></script>)
 */
